<!-- Componente modificado por Victor Garay -->
<div class="container ">
  <div class="input-group mb-2">
    <!-- Barra de Busqueda -->
    <input class="form-control rounded" id="tableSearch" type="text" placeholder="Buscar Por Nombre"
      [(ngModel)]="searchTerm" (ngModelChange)="buscarPorNombre(searchTerm)">
    <button class="btn btn-primary ms-5 rounded" data-bs-toggle="modal" data-bs-target="#crear"><i
        class='bx bxs-plus-circle bx-tada-hover'></i> Agregar
      Producto</button>
    <!-- Filtro por Categoria -->
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle ms-4" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class='bx bxs-filter-alt'></i> Categoria
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let item of categorias; let i = index">
          <p class="dropdown-item" (click)="buscarPorCategoria(i)"> {{item.nombre}}</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- Tabla de Productos -->
  <table class="table table-striped">
    <thead id="tablaBg">
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Stock</th>
        <th scope="col">Código de Barras</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="buscarTabla">
      <tr *ngFor="let item of productos | slice:(currentPage-1)*pageSize:currentPage*pageSize; let i = index"
        class="text-capitalize">
        <td><img lazyLoad="{{item.img}}" id="imgTablita"></td>
        <td>{{item.nombre}}</td>
        <td id="categoria">{{item.tipo}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.codeBar}}</td>
        <td>$ {{item.precio}}</td>
        <td>
          <!-- Dropdown de opciones CRUD -->
          <div class="dropdown">
            <a class="btn btn-outline-dark" id="opciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded bx-sm'></i>
            </a>

            <ul class="dropdown-menu">
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Ver"
                  (click)="mostrarDetalles(i)"><i class='bx bx-show'></i>
                  Ver</button></li>
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#actualizar"
                  (click)="mostrarDetalles(i)"><i class='bx bx-edit'></i> Editar</button></li>
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#eliminar"
                  (click)="mostrarDetalles(i)"><i class='bx bxs-trash'></i> Eliminar</button></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-4">
      <li class="page-item"><button class="page-link" [disabled]="currentPage == 1"
          (click)="currentPage = currentPage - 1">Anterior</button></li>
      <li class="page-item mb-5"><button class="page-link" [disabled]="currentPage * pageSize >= productos.length"
          (click)="currentPage = currentPage + 1">Siguiente</button></li>
    </ul>
  </nav>
</div>

<!-- Modal para Agregar Producto -->
<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="crear" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crear">Agregar Nuevo Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="form-label">Nombre</label>
          <input type="text" placeholder="Nombre" class="form-control" [(ngModel)]="producto.nombre"
            [ngModelOptions]="{standalone: true}">
          <label class="form-label">Categoria</label>
          <select class="form-select" aria-label="Seleccionar Categoria" name="categoria" [(ngModel)]="selectedCategory"
            [ngModelOptions]="{standalone: true}">
            <option selected>Seleccionar Categoría</option>
            <option class="form-control" *ngFor="let item of categorias" [value]="item.nombre">
              {{item.nombre}}
            </option>
          </select>
          <label class="form-label">Stock</label>
          <input type="number" placeholder="0" class="form-control" [(ngModel)]="producto.stock" min="0"
            [ngModelOptions]="{standalone: true}">
          <label class="form-label">Código de Barras</label>
          <input type="number" placeholder="0" class="form-control" [(ngModel)]="producto.codeBar" min="0"
            [ngModelOptions]="{standalone: true}">
          <label class="form-label">Precio</label>
          <input type="number" placeholder="{{0 | currency}}" class="form-control" [(ngModel)]="producto.precio" min="0"
            [ngModelOptions]="{standalone: true}">
          <label class="form-label">URL Imagen</label>
          <input type="url" placeholder="URL" class="form-control" [(ngModel)]="producto.img"
            [ngModelOptions]="{standalone: true}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveProduct(producto)">Agregar</button>
        <button type=" button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Ver -->
<div class="modal fade" id="Ver" tabindex="-1" aria-labelledby="Ver" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Ver">{{productoSeleccionadoModal.nombre}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{productoSeleccionadoModal.img}}" class="img-fluid mx-auto d-block" id="imgModal">
        <br>
        <p>Categoria: {{productoSeleccionadoModal.tipo}}</p>
        <p>Stock: {{productoSeleccionadoModal.stock}}</p>
        <p>Código de Barras: {{productoSeleccionadoModal.codeBar}}</p>
        <p>Precio: {{productoSeleccionadoModal.precio}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Actualizar Producto -->
<div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="actualizar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="actualizar">Actualizar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Nombre: <input type="text" placeholder="{{productoSeleccionadoModal.nombre}}" class="form-control"
            [(ngModel)]="producto.nombre" [ngModelOptions]="{standalone: true}" disabled=""></p>
        <p>Categoria: <input type="text" value="{{productoSeleccionadoModal.tipo}}" class="form-control" disabled></p>
        <p>Stock: <input type="number" value="{{productoSeleccionadoModal.stock}}" class="form-control"
            [(ngModel)]="producto.stock" [ngModelOptions]="{standalone: true}"></p>
        <p>Precio: <input type="number" value="{{productoSeleccionadoModal.precio}}" class="form-control"
            [(ngModel)]="producto.precio" [ngModelOptions]="{standalone: true}"></p>
        <p>URL Imagen: <input type="url" value="{{productoSeleccionadoModal.img}}" class="form-control"
            [(ngModel)]="producto.img" [ngModelOptions]="{standalone: true}"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="updateProduct()" id="liveToastBtn"
          data-bs-dismiss="modal">Actualizar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Eliminar Producto -->
<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="eliminar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminar">Eliminar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estas Seguro de eliminar el siguiente producto? <b class="fs-4">{{productoSeleccionadoModal.nombre}}</b>
        </p>
        <img src="{{productoSeleccionadoModal.img}}" class="img-fluid mx-auto d-block" id="imgModal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
          (click)="deleteProduct(productoSeleccionadoModal.nombre)">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>